[2020-05-27 14:29] AnimeshRoy86 opened #3 "Getting issue while training the custom vocab and cdb"
Facing the below issue while trying to train a custom vocab with word2vec vectors. cdb is a the set of core snomed database. While I am trying to train the clinical text of 5000 visits. I have noticed that it throws error for certain text while certain texts are fine

Using the below code.

cat.spacy_cat.PREFER_FREQUENT = True
cat.spacy_cat.PREFER_ICD10 = False
cat.spacy_cat.WEIGHTED_AVG = True
ca

[2020-05-27 14:43] w-is-h commented on #3
Hi @AnimeshRoy86,

When creating a custom vocabulary, once it is done you need to run the following:
[code]

This is used for the negative sampling, I forgot to mention it in the tutorials or Jupyter notebooks.

Thanks for reporting, I'll add this to the tutorial talking about custom vocabularies.

Let me know if something is still not right.

[2020-05-27 15:31] AnimeshRoy86 commented on #3
This is working now. Thanks

[2020-05-27 15:55] #3 closed

[2020-06-30 01:38] richardbeare opened #4 "Question - local creation UMLS concepts"
Hi,
I am running some experiments with medcat. I have a UMLS license and was wondering whether there are instructions for running the build process anywhere? I've noticed the colab on custom vocabs and perhaps the process for UMLS is the same?

Thanks

[2020-06-30 08:45] w-is-h commented on #4
Hi @richardbeare building any cdb/vocab, no matter the source, is the same. You will only need to prepare the required CSV and do the same steps as in the colab. Also if interested, we are able to share the prebuilt models for UMLS given that you can provide some proof (see [here](https://github.com/CogStack/MedCAT#snomed-ct-and-umls)).

[2020-06-30 08:45] #4 closed

[2020-06-30 09:36] richardbeare commented on #4
Do you prefer screenshot via issue page?

On Tue, Jun 30, 2020 at 6:46 PM Zeljko <notifications@github.com> wrote:

[2020-06-30 09:41] w-is-h commented on #4
A screenshot of [this](https://uts.nlm.nih.gov//uts.html#profile) page is perfect.

[2020-06-30 09:48] richardbeare commented on #4
How do you prefer it to be sent? In this issue?

On Tue, Jun 30, 2020 at 7:41 PM Zeljko <notifications@github.com> wrote:

[2020-06-30 09:52] w-is-h commented on #4
Email is the best.

[2020-10-13 21:32] johnatvh opened #5 "Question about approximate string search"
Quick question: are there any recommendations for how to incorporate approximate string search into the pipeline? I noticed MetCAT doesn't quite handle cases like couhg

[2020-10-13 22:09] w-is-h commented on #5
Hi @johnatvh, I've taken the opposite approach and tried to fix spelling instead of doing an approximate string search. If you only need to be able to deal with misspellings, then this should be enough. But, if you need this for other use-cases I can expand the answer and explain how the approximate string search (probably based on Levenshtein distance) can be implemented.

Also just saw that I've

[2020-10-13 22:34] johnatvh commented on #5
I see. Thanks for the explanation - that makes sense (I'm familiar with Levenshtein distance), and thanks for the configurable word length.

I also have a related question: I was wondering if you could comment a little bit about if MedCAT/BERT-based models can handle more sophisticated string matching (? not sure if what the correct term is) such as mapping "nose is runny" -> "runny nose" (/"rhino

[2020-10-13 23:11] w-is-h commented on #5
That is a great question, the answer is a bit lengthy.

In general, MedCAT is somewhere between the BERT based models and cTAKES/MetaMap (the full MedCAT models). The problem here is two-fold, you usually want to first detect what portion of text is a concept (NER) and then link that portion of text to a UMLS entry (Linking). You can of-course merge this into one task, so immediately detect the po

[2020-10-14 16:29] johnatvh commented on #5
I see. Thanks so much for the explanation and it all makes sense. I really appreciate the help and knowledge! Good job on this project!

[2020-10-14 16:29] #5 closed

[2020-10-30 14:55] mchengNHS opened #7 "Problems installing on a Windows machine due to package dependencies"
Hi,

Currently having an issue installing the medcat package due to the dependencies it's installing first.

Running the `pip install medcat`:
[code]

Looking into this, there's only mac and linux versions of torch 1.4.0.

Not sure on how I can resolve this on my end. Would a switch from torch to pytorch work?

Running this as a user on a Windows Server 2012 (R2 Standard) with Intel Xeon CPU E5-26

[2020-10-30 15:26] w-is-h commented on #7
Hi @mchengNHS,

That is a bit strange, I've just checked the [pytorch website](https://pytorch.org/get-started/previous-versions/#linux-and-windows-7), and the torch==1.4.0 exists for Windows and can be installed via PIP. Please take care that when using pip it is called `torch` and when using conda it is `pytorch`.

Can you manually do any of the below:
[code]

[2020-10-30 15:45] mchengNHS commented on #7
Ah thanks @w-is-h, I was looking at the pypi package repository.

Installing via those pip commands have seemed to have worked, and medcat has installed. I'll need a little time to see if medcat is working properly, but I think everything should be okay.

Thanks again!

[2020-10-30 15:45] #7 closed

[2021-01-11 13:48] Sammy-iiitb opened #19 "Older version of scispacy"
OSError: [E050] Can't find model 'en_core_sci_md'. It doesn't seem to be a shortcut link, a Python package or a valid path to a data directory.

Fix: Use the latest version of scispacy

[2021-01-11 14:34] w-is-h commented on #19
Hi @Sammy-iiitb ,

installing the scispacy models fixes this:
[code]

spaCy does not have the best backward compatibility, so I would recommend installing scispacy models based on the version of spaCy that you have (the one above is default for MedCAT v0.4).

[2021-01-11 19:50] Sammy-iiitb commented on #19
Thanks for the quick reply @w-is-h, for medcat 0.3.3.1, 0.2.4 version of scispacy is not working, for 0.4 medcat version it works fine. If you can test this out and update in the google colab notebooks, thanks

[2021-01-11 20:00] w-is-h commented on #19
True, forgot about the tutorials. I'll reopen the issue so I have a reminder.

[2021-02-16 03:26] kirrakula opened #24 "unconventional F1 score calculation"
Hi @w-is-h ,

Interesting and well-done work!

I was just wondering about F1 metric that was used in this project. It seems that you use [simplified mean of Precision and Recall to calculate F1](https://github.com/CogStack/MedCAT/blob/cf8e70a2a1e675b98b5171f79ca31c1d472be7a2/medcat/cat.py#L467) instead of [conventional one](https://en.wikipedia.org/wiki/F-score): `f1 = 2*(Precision * Recall)/(Prec

[2021-02-16 11:38] w-is-h commented on #24
Hi @kirrakula,

thank you for the feedback, will change immediately. If I'm honest, do not even know why the simplified version was used (not like the standard f1 is complex).

[2021-02-16 11:40] w-is-h commented on #24
done

[2021-02-16 11:40] #24 closed

[2021-02-24 13:56] w-is-h commented on #19
Closing this as we are rewriting the tutorials for v1 of medcat (on develop branch currently) - and the issue here will not be relevant anymore.

[2021-02-24 13:56] #19 closed

[2021-03-24 20:16] jarrodolson opened #34 "Python 3.9 Compatibility not available"
Torch==1.4.0 is not available and triggers build errors with Python 3.9, meaning that this application also cannot be installed. Tested on Ubuntu 18. Changing torch version then leads to a failure in TorchVision dependency. Changing that to the latest triggers a tokenizer installation error (because 0.8.0 is not PEP compliant).

Minimum reproducible example:

[code]

[2021-03-24 21:06] w-is-h commented on #34
Hi @jarrodolson ,

this version of MedCAT was only tested for python 3.6.0 to 3.8.0. Luckily, v1 of MedCAT is coming out in a few days, you can in fact test it already by running `pip install --upgrade --pre medcat`, where `--pre` means you will use the development version. This version should work even on python 3.9. To checkout the code for v1 have a look at the `develop` branch.

Unfortunately,

[2021-03-24 21:43] #34 closed

[2021-04-16 07:41] sandertan opened #53 "Update unsupervised training section in tutorial to use cat.train()"
The updated Google colab tutorial uses `cat.train = True` and `cat(text, do_train=True)` in a for loop for unsupervised training, but the MedCAT inline code documentation strongly suggests to use `cat.train()`. It might be good to update the tutorial to reflect the preferred method.

[2021-04-23 08:57] Siddhijain16 opened #54 "How to get ICD10 codes if we are using medcat CDB ?"
Hi  @w-is-h ,
I need ICD10 code for the disease. As define in Unsupervised training and NER+L
 [tutorial 3.2](https://colab.research.google.com/drive/1LL0EP_qN78ljs1PozaoiUDMaBo6zb4Gm) when we run the code
##### Let's test the multi processing function first
in_data = [(3, "cancer")]
results = cat.multi_processing(in_data, nproc=2)
print(results)

we got
[(3, {'entities': [{'cui': 'C0006826', 'tui

[2021-04-23 09:57] w-is-h commented on #54
Hi @Siddhijain16,

if you are using the freely available (MedMentions) concept database (CDB) then there are no ICD10 codes as UMLS does not allow us to share that publicly.

But, if you are using the prebuilt full UMLS concept database (available on request) then it should have ICD10 and SNOMED codes. Let me know if you are using this CDB but still do not have ICD10 codes.

[2021-04-23 12:52] Siddhijain16 commented on #54
Hey @w-is-h ,
I am following the CDB from following link: https://s3-eu-west-1.amazonaws.com/zkcl/cdb-medmen.dat.

Please let me know, how can I request for prebuilt full UMLS concept database. I would really appreciate your help on this.
Thanks,

[2021-04-23 12:54] #54 closed

[2021-04-23 13:02] thomas-smithh opened #56 "multiprocessing function returns an error"
When I attempt to call the multiprocessing function, I get a pickling error. My code is as follows:

import pandas as pd
import numpy as np
from medcat.vocab import Vocab
from medcat.cdb import CDB
from medcat.cat import CAT
from medcat.config import Config
from tqdm.notebook import tqdm
from medcat.meta_cat import MetaCAT

data = pd.read_csv('mri_reports.csv')
vocab = Vocab.load('C:/Users/Tom/Doc

[2021-04-23 13:14] w-is-h commented on #56
Hi @thomas-smithh,

what OS are you using?

If you are in a hurry, you can always run without multiprocessing, it is slower but will work.

[2021-04-23 13:52] thomas-smithh commented on #56
H @w-is-h,

I'm running on windows. Just tried downgrading python to 3.8.2 and re-ran to see if that would have any effect. I chose 3.8.2 somewhat randomly, just wanted to check if it was a problem with the existing installation - 3.8.5. Unfortunately I'm still getting the same error.

Yes I am considering running without using multiprocessing but it's got to a point now where I don't want to be b

[2021-04-23 16:44] w-is-h commented on #56
I run into something similar a couple of days back. You are right that the problem is you cannot pickle lambda functions and the config from medcat contains a lambda function. Removing that lambda will fix the problem, but the RAM consumption will explode.

The reason for this is when a python process is forked on linux it uses copy-on-write, so MedCAT will spawn a lot of processes but all of them

[2021-04-23 17:23] thomas-smithh commented on #56
Using dill may patch this issue?

https://stackoverflow.com/questions/25348532/can-python-pickle-lambda-functions

Thanks for this though. I'll run on linux instead.

[2021-04-23 18:19] w-is-h commented on #56
That is true, it would work - but somehow does not seem like a good solution, given that it will duplicate models in memory and make MedCAT very wasteful.

I'll leave this Issue open and try to find a solution that will work on windows/macos but that does not waste resources.

[2021-04-30 22:24] w-is-h commented on #56
Went into this a bit deeper, the whole multiprocessing has to be rebuilt it is a bit of a mess currently - it works, but has some problems with large datasets (10M+ documents).

[2021-05-03 09:58] dummynov1 opened #59 "Cdb.config() parameters definition ?"
Is there any wiki/help guide/Readme on the cdb.config parameters (eg. cdb.config.ner , cdb.config.linking, etc.).
Just want to know what these parameters do, and how to use them

[2021-05-03 10:03] dummynov1 commented on #59
Got it. Comments found in config.py file

[2021-05-03 10:03] #59 closed

[2021-05-04 13:39] thomas-smithh commented on #56
Would this apply to every OS or is it windows specific?

FYI I was only attempting to run the above code on ~200k documents.

[2021-05-06 19:30] w-is-h commented on #56
It is a bit of a mess in general, but should work nicely on linux especially for 200k docs, above 10M I've seen some problems.

[2021-05-07 11:46] thomas-smithh commented on #56
Ok mate thanks for this.

On another note, can you point me towards how I can get the negation meta-annotations? I can only see how to get "status" meta-annotations via the linked tutorials and I've struggled for a bit with it. I'm looking to extract individuals with diffuse pituitary enlargement (pituitary hyperplasia) from MRI reports and often the reports will say something like "no sign of pit

[2021-05-07 15:21] w-is-h commented on #56
Unfortunately, we still did not make the negation models public (or any meta models), but hopefully soon. For now, if you want a negation model you need to train it using medcattrainer.

[2021-05-17 11:27] sandertan opened #60 "Lines skipped during unsupervised training"
Hi @w-is-h . Somewhere between April 10 (7ce8f424c17a010d93fd28f4dedb7ff8aa8ffd49) and current master (700c27569e612d2c776fe0e8bcd70e152389b1bf), there was a change that results in many lines being skipped. Is this intended or a bug? The reason the lines are skipped is not clear to me. I think the code states it should print the exception, but instead prints the CUI.

https://github.com/CogStack/M

[2021-05-19 10:30] sandertan commented on #60
This happens in current master branch (medcat 1.0.26), but it seems to be solved in MedCAT 1.0.28 from pip.

[2021-05-19 10:41] w-is-h commented on #60
Hi @sandertan, I remember seeing and fixing an error like this recently - should be on the develop branch (merging with master now). In any case, if you see it again let me know, otherwise all good.

[2021-05-19 11:08] sandertan commented on #60
Thanks!

[2021-05-19 11:08] #60 closed

[2021-06-04 08:31] acadTags opened #64 "vocab.dat and cdb_medmen_v1.dat access denied"
It seems both files in the links [`https://s3-eu-west-1.amazonaws.com/zkcl/vocab.dat`](https://s3-eu-west-1.amazonaws.com/zkcl/vocab.dat) and [`https://s3-eu-west-1.amazonaws.com/zkcl/cdb-medmen-v1.dat`](https://s3-eu-west-1.amazonaws.com/zkcl/cdb-medmen-v1.dat) are not available at the moment.

It says access denied.
Could you have a look at this?

Best,
A

[2021-06-04 09:33] w-is-h commented on #64
Hi @acadTags, it will be back in a couple of days (note added [here](https://github.com/CogStack/MedCAT#models--temporarily-unavailable-back-in-a-couple-of-days-)). We had a spam attack (bots likely downloaded the models thousands of times), so we are dealing with this.

[2021-06-04 19:33] w-is-h commented on #64
@acadTags models are downloadable again (new links in the README).

[2021-06-04 19:33] #64 closed

[2021-06-07 09:25] acadTags opened #65 "about Meta Annotations"
Thanks for addressing my previous question.

It seems that the [`mc_status`](https://zkcl.s3-eu-west-1.amazonaws.com/mc_status.zip) file is not available.

Also the [`Meta Annotations with MedCAT`](https://colab.research.google.com/drive/1Cql-Hkt-OTK22FmY9tdfoVZSCbFIJAu4#scrollTo=tDBI5vy2VQRH) tutorial seems not complete. I did not find the code for training a model for meta annotations.

In pract

[2021-06-09 22:10] rahul-evenup-ai opened #66 "cui2icd10 question + some setup feedback"
Hi! Thanks for building this great tool, had some issues with the setup, but here's what I have in terms of a rqs.txt (incase this is helpful).

`blis==0.7.4
catalogue==1.0.0
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
cymem==2.0.5
datasets==1.6.0
dill==0.3.3
elasticsearch==7.10.0
filelock==3.0.12
Flask==1.1.0
fsspec==2021.6.0
gensim==3.8.0
huggingface-hub==0.0.10
idna==2.10
importlib-metadata=

[2021-06-09 23:25] rahul-evenup-ai commented on #66
oh also when using the `get_entities()` function, `cui2snomed` causes a KeyError; not that the other keys return anything right now, but `cui2snomed` isn't found [here](https://github.com/CogStack/MedCAT/blob/master/medcat/cdb.py#L69)

[2021-06-10 00:42] w-is-h commented on #66
Hi @rahul-evenup-ai, thank you for a detailed report. The issue with `get_entites` is resolved in the latest version. I've just created a new python env and run `pip install --upgrade medcat` downloaded the models and all went through without a problem. Do you mind testing that out and reporting the problems you encounter - I'll try to address them asap.

Re `en_core_sci_lg` you are right, the med

[2021-06-10 00:48] w-is-h commented on #65
Hi @acadTags, sorry about that, we'll make the models available in a couple of days - we suffered a bot attack that downloaded the models thousands of times and created problems. Will be fixed soon.

`mc_status` is just a test model, the big one we are unable to publish because of restrictions from MIMIC-III, but we'll find a way and let you know. The tutorial in 4.1 and 4.2 should allow you to cr

[2021-06-10 00:51] w-is-h commented on #66
For the `cui2icd10` once you have a UMLS licence I'll share the big models that contain those fields also. We are not allowed to make that public, because of UMLS rules.

[2021-06-10 01:47] rahul-evenup-ai commented on #66
yeah so the issue was actually the pip version, you need `pip 21.1.2`. Apart from the spacy_model loading, everything else worked! And got it, thanks for the quick reply

[2021-06-10 07:48] acadTags commented on #65
No problem and thanks for the reply. Would be great to have the full meta-annotation model, I am using MIMIC-III too, I will try to train on this data first.

[2021-06-10 11:32] w-is-h commented on #66
Interesting (re pip), I'll make the clear in the README and close the issue - if that is fine with you.

[2021-06-10 18:16] rahul-evenup-ai commented on #66
yup sure, thanks for the info

[2021-06-10 18:16] #66 closed

[2021-06-10 20:29] #65 closed

[2021-06-14 16:37] sandertan opened #72 "MedCAT and MetaCAT options in single Config() object and YAML"
It would be nice if all configurable parameters, including MetaCAT's run and model options, would be gathered in a single Config() object, and read them from a YAML formatted file using PyYAML.

[2021-06-16 07:27] w-is-h commented on #72
Agree that all config should be in one file, PyYAML probably looks nicer - in the beginning, I went for a config file following the approach from huggingface. If there is a benefit to yaml files happy to switch.

[2021-06-21 13:56] gmichalo opened #76 "Question about the MedCAT model"
Thank you for sharing the files. If it is possible could you answer the following question?

1) Are the context vectors that are used for disambiguation included in the CDB file? I am asking   as I am not sure that when we will use the CDB and the VOCAB file we will be using the pre-trained model that was trained on the MIMIC-III?

2) How many words are included in the Vocabulary of Umls?

3) Is t

[2021-06-21 14:00] #76 closed

[2021-06-27 22:32] w-is-h commented on #53
This was fixed, thanks @sandertan.

[2021-06-27 22:32] #53 closed

[2021-07-01 18:50] gmichalo opened #79 "cat.spacy_cat.TUI_FILTER error"
I tried to use the command
[code]
that I found in the MedCAT article:
https://towardsdatascience.com/medcat-extracting-diseases-from-electronic-health-records-f53c45b3d1c1

but I got the following error:
AttributeError: 'CAT' object has no attribute 'spacy_cat'

[2021-07-02 19:58] w-is-h commented on #79
Hi @gmichalo, this is removed in medcat v1, if you still want to use it please install the old version of MedCAT - otherwise please have a look at the tutorial (jupyter notebooks in this repo) to understand how the new version works. Unfortunately, the towardsdatascience blog posts were not updated to the newest version of medcat.

[2021-07-02 19:58] #79 closed

[2021-07-08 18:28] griff4692 opened #86 "Guidance on extraction"
Are there results we can leverage to decide how to use the provided 'medcat_acc'?  As in, precision-recall performance at various thresholds.  Thanks!

[2021-07-08 18:57] w-is-h commented on #86
Hi @griff4692, this can be very dataset dependent - how much unsupervised training, supervised training, what concepts do you want and so on. Still, agree that it would be nice to have something like this - but we've never done it.

[2021-07-08 18:58] #86 closed

[2021-07-26 20:48] dnwillia23 opened #89 "MedCAT annotations- empty "pretty_name" field?"
I am using the `get_entities()` method from the CAT class on some arbitrary text (i.e. `cat.get_entities(text)`) to extract annotations.  Sometimes, the "pretty_name" field is empty even though the rest of the fields are populated.  Example below.  Has anyone else encountered this and know if it's something that would be happening on my end?

[code]

[2021-07-26 21:40] w-is-h commented on #89
Hi @dnwillia23 this should be fixed in the latest version, the problem was that some CUIs in UMLS do not have a preferred name, if that happens in the new version MedCAT will try to guess the preferred name from the ones assigned to the concept in UMLS.

[2021-08-10 20:00] EZ-Walk opened #96 "Incorrect schema in CSVs uesd in Google Collab"
Hi,
While working through your [TDS article](https://towardsdatascience.com/medcat-extracting-diseases-from-electronic-health-records-f53c45b3d1c1) the first Collab notebook under the Building custom models heading contains csv files that use the "name" header instead of the expected "str" header. This caused an error and required a manual edit and reupload. Thought you might want to know about th

[2021-08-10 20:05] EZ-Walk opened #97 "Vocab.dat and cdb-medmen-v1.dat unable to be read"
Hi again,

This issue is a little more serious. The 2 .dat files you link in the readme are encoded as bytes and cannot be read in by the Vocab class. I could not decode them using the code below and a range of variants I found from Stack overflow. Code to decode: `[line.decode() for line in io.open('vocab.dat', 'rb')]`

I was not able to get passed this today so I don't know if the CDB file is an

[2021-08-10 22:04] w-is-h commented on #97
Hi @AlexHandy1,

how are you loading the vocab file and what version of MedCAT are you using, e.g. in the most recent version you do:
[code]

[2021-08-10 22:05] w-is-h commented on #96
Hi @AlexHandy1, the TDS article is still using the old version of MedCAT (was not updated), please check the tutorial folder in this repository and use the jupyter notebooks there. If you still want to follow TDS, you can install MedCAT 0.4

[2021-08-11 14:40] EZ-Walk commented on #97
OK, that fixed it. I was using `vocab = Vocab.add_words(infile)`.

[2021-08-11 14:40] #97 closed

[2021-08-11 14:41] #96 closed

[2021-08-25 23:34] elisaF opened #104 "spacy add_pipe error on medcat-1.0.40"
If I install MedCAT 1.0.40, I get the error below when calling the MedCAT Service. This error is fixed by installing medcat-1.0.39.

Error:
[code]

Steps to reproduce:
1. `pip install -r medcat_service/requirements.txt`

2. `pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_md-0.4.0.tar.gz`

Which generates dependency error at bottom:
[code]

3.  `. start-s

[2021-09-07 07:19] sandertan opened #115 "MedCAT annotations in displaCy"
The previous version of MedCAT (<1.0) showed useful info (CUI, primary name of concept, TUI, name of TUI, context similarity) when rendering a MedCAT doc with displaCy. The latest version just shows "CONCEPT".

Any plans of returning this or similar functionality? It's great for generating screenshots for presentations :)

Additionally, it would be nice to configure what data is displayed, and add

[2021-09-08 11:54] sandertan opened #116 "MedCAT model creator"
Hi @w-is-h at our hospital we're using our own "MedCAT model creator", which is basically a pipeline containing the steps that MedCAT documented in Jupyter notebooks. Our code:
- Loads input concepts from CSV and input documents from txt
- Creates vocab, create CDB, do unsupervised training, optionally do supervised training
- Write files to a configured location
- Also contains an integration tes

[2021-09-08 14:27] sandertan opened #117 "Handling of words containing diacritics"
Many functions in MedCAT seem to be tailored for English words, in which diacritics are quite rare. However, in Dutch, and I think in some other languages as well, they can be quite common. Because MedCAT often does not take into account words containing diacritics (for example in spell checker https://github.com/CogStack/MedCAT/blob/dfc40b2b0481a92976b13dab6314d69a4c66ee8f/medcat/utils/normalizer

[2021-09-17 12:13] Zethson opened #119 "Discern between was found or was not found"
Hi,

great work!
I was working through the full Medcat pipeline tutorial but am bugged about one thing: discerning between whether an entity has a positive connotation (= was indeed found) or a negative connotation (= was not actually found).
I thought that the status (which I cannot see here?) should tell us that?
The output does not allow me to classify this:

[code]

[2021-09-17 12:19] Zethson commented on #117
Would be awesome. I might be working with German texts and this would be very much required.

[2021-09-22 09:12] sandertan commented on #117
We're currently working on adding this; will submit a PR when ready!

[2021-09-25 19:36] #56 closed

[2021-09-25 19:38] w-is-h commented on #72
A config file is now created for meta_cat models (config_meta_cat.py), but it is not made part of the general medcat config - mainly because metacat models are usually trained stand-alone and can also be used as such.

[2021-09-25 19:38] #72 closed

[2021-09-25 19:41] w-is-h commented on #116
Hi @sandertan it would be great to have this, we were, in any case, thinking of doing it on our side too. So perfect timing, submit a PR and we'll go from there.

[2021-09-27 18:44] #117 closed

[2021-09-27 18:45] w-is-h commented on #115
Will be added in a future release. Was removed because it makes the pipeline slower when doing large scale annotations, but should have made it configurable.

[2021-09-27 19:16] w-is-h commented on #115
Added, you now have an option in the `config.py` called `make_pretty_labels`. For the colouring you can do that in displacy with the `options` argument, as for what to display simply use filters in medcat.

[2021-09-27 19:16] #115 closed

[2021-09-27 19:25] w-is-h commented on #119
Hi @Zethson, I'm not 100% sure what you mean. How would the model know something was not found - the pipeline starts from a blank document and annotates concepts, there are no manual annotations to tell it something was missed.

The output from the MedCATtrainer will give you info on what entities were correct/not but that is based on a user manually classifying the detections.

[2021-09-27 19:29] Zethson commented on #119
I shall try again :) Of course it cannot annotate what was not in the document. But it can annotate attributes!
Two sentences:

A: "He has kidney failure."
B: "He does not have kidney failure."

My expectations:
Sentence A returns one hit for "kidney failure <- disease"
Sentence B returns two hits! One for "kidney failure", but also one for "not have". A negation is a very very important piece of

[2021-09-27 20:19] w-is-h commented on #119
Got it, for that you use the meta-models (negation, experiencer, ...). For now, we have one published (Status => is something negated or not). Have a look [here](https://github.com/CogStack/MedCAT#metacat-example).

[2021-09-27 20:22] Zethson commented on #119
Yeah, I will surely be able to make it work.
So this was not supposed to show up here: https://colab.research.google.com/drive/1apaFscR1a5shzuhg6nLM4lWxgvVbn8f1#scrollTo=-XFxQDSgK3om&line=2&uniqifier=1 right?

[2021-09-27 20:36] w-is-h commented on #119
That part has meta_cats commented out, the one above that goes like `cat = CAT(cdb=cdb, config=config, vocab=vocab, meta_cats=[mc_status])` will also output status.

[2021-09-28 07:10] sandertan commented on #115
Awesome!

[2021-09-28 14:54] Zethson commented on #119
Thank you!

[2021-10-04 09:12] sandertan opened #138 "Naming of TUI / type_ids column"
- MedCAT CDB maker uses the name `type_ids`
- MedCAT documentation (https://github.com/CogStack/MedCAT/blob/master/examples/README.md) calls it `semantic_type_ids` (and also mentions `group`, but I think this is not used)
- UMLS and a previous MedCAT version call it `tui`
- MedCATTrainer uses both the name `tui` and `semantic_type` in the API result

It would be nice to align the naming.

[2021-10-05 17:23] w-is-h commented on #138
Hi @sandertan, agree on this, we'll start from medcat and standardize across the other tools/tutorials. In the end it will be `type_ids` as it does not really have to be a semantic type, it can be any type id.

[2021-10-09 16:14] Zethson opened #145 "Relax MedCAT dependency versions"
When trying to add MedCAT as a dependency to my project I run into:

[code]

From what I can see you are pinning a version of spaCy which requires typer <=0.4.0
The latest spaCy allows for typer dependencies up to 0.5.0. This version has added support for click 8.x : https://github.com/tiangolo/typer/commit/b97298181bd2a932be70ba417b9a712294fa327c

Could you please upgrade the spaCy version, (test

[2021-10-09 18:33] w-is-h commented on #145
Hi @Zethson happy to review/approve the PR if your tests go through.

[2021-10-13 07:45] deakkon opened #147 "FileNotFoundError: [Errno 2] No such file or directory: 'mc_status/config.json'"
Hey everyone,

great work with MedCAT!

I do have one issue, I can't figure out. Could you help me out how to load the status model for meta_annotations?

Im getting the same error, both local and in the colab (https://colab.research.google.com/drive/1apaFscR1a5shzuhg6nLM4lWxgvVbn8f1#scrollTo=TvvCIyv0afMZ):

FileNotFoundError: [Errno 2] No such file or directory: 'mc_status/config.json'

Any sugge

[2021-10-14 09:31] Zethson opened #148 "Add support for more abbreviations"
Hi,

the MIMIC-IV dataset (triage.csv) uses a couple of abbreviations which are vital for the extraction of diagnosis etc from freetext, but currently are not really well supported by MedCAT.

I was using your hosted instance (https://medcat.rosalind.kcl.ac.uk/) for these quick tests.

Examples:
1. `Hypertension, R Leg numbness, R Shoulder pain` -> extracts 3 findings, but does not add the "R" as

[2021-10-18 14:57] Zethson opened #152 "4.3 tutorial fails due to missing config.json file"
Hi,

your 4.3 tutorial https://colab.research.google.com/drive/1apaFscR1a5shzuhg6nLM4lWxgvVbn8f1#scrollTo=TvvCIyv0afMZ fails due to:
[code]

at

[code]

Thanks!

[2021-10-18 19:52] Zethson commented on #152
Ah, nice. Unfortunately, I cannot use version 1.1.3 due to an environment issue that I recently fixed: https://github.com/CogStack/MedCAT/pull/146
Or can I expect it to work using the current master branch?

Looking forward to the November release in any case!

[2021-10-18 19:52] #152 closed

[2021-10-19 19:09] Zethson commented on #152
@w-is-h amazing. Much appreciated!

[2021-10-20 09:26] sandertan opened #153 "Use MetaCAT.save() with auto_save"
Hi @w-is-h

Great work on the updated meta_cat, not sure what the functional changes were but the performance on our test sets significantly increased.

One thing I noticed was that when doing a run with `auto_save_model` set to True, to save the Config, I still needed to do a manual `MetaCAT.save()`. To prevent this, it might be nice to use this save function:

https://github.com/CogStack/MedCAT/

[2021-10-20 11:40] w-is-h commented on #153
done

[2021-10-20 13:22] #104 closed, assigned to nobody

[2021-10-20 13:24] #138 closed

[2021-10-21 13:16] w-is-h opened #157 "Tutorials also need an update for new Word2Vec parameter names, e.g. size to vector_size:"
Tutorials also need an update for new Word2Vec parameter names, e.g. size to vector_size:

![image](https://user-images.githubusercontent.com/9624990/138284515-e3946ec3-159d-4502-9d6a-26a9693e89c9.png)

_Originally posted by @sandertan in https://github.com/CogStack/MedCAT/issues/156#issuecomment-948603558_

[2021-10-22 11:40] w-is-h opened #159 "Add contributor guidelines"
Politely take them from some other open-source repo ([example](https://github.com/huggingface/transformers/blob/master/CONTRIBUTING.md))

[2021-10-27 15:19] w-is-h opened #162 "Check multi argument logs"
A recent PR introduced a bug with logs, instead of
[code]

we need to do:
[code]

All logs with more than one argument have this problem, we need to find and fix them.

[2021-11-01 13:13] #162 closed

[2021-11-03 23:43] antsh3k commented on #157
This has been updated. See MedCAT Tutorial | Part 4.1

[2021-11-04 00:07] #157 closed

[2021-11-09 07:13] kawsarnoor opened #170 "Make cdb.config argument an optional parameter"
When creating the CAT object we are passing it cdb.config. This is already contained in the cdb object and so this should probably be an optional parameter.

[2021-11-09 07:15] kawsarnoor opened #171 "make GPU parameter for metacat models"
Could we gave a way to set/unset the CUDA flag for the metacat models. Maybe this could be in the config for the model pack somewhere?

[2021-11-09 09:54] #171 closed

[2021-11-09 09:54] #170 closed

[2021-11-23 16:31] w-is-h opened #174 "New spacy models not compatible with spacy < 3.1.0"
https://github.com/CogStack/MedCAT/blob/8f28b76715f6ae7491065da937257db281285521/setup.py#L26

[2021-11-30 09:41] #116 closed

[2021-12-06 09:55] IKetchup opened #179 "[Question] Language availability"
Hello,

Does MedCAT have models or use datasets that are not in english but a different language like french or spanish ?

[2021-12-13 16:16] tomolopolis commented on #179
hi - MedCAT doesn't rely on english specific language features so there is no reason why fr, es and any other language could not be supported.

@sandertan has already added supported for dutch diacritics and has trained Dutch MedCAT models for example. However, like our own core-team models, they are trained on sensitive hospital data so directly sharing these models with the wider community is di

[2021-12-20 10:39] sandertan commented on #179
Hi @IKetchup , indeed we made models for Dutch language from public UMLS and SNOMED data. We documented our methods in an internal repo. We're looking into open-sourcing this, with a few changes it might be fairly easy to generate something similar for other languages.

In the meantime, you could look into downloading the UMLS database, loading it in a MySQL database, and filter the concepts for y

[2022-01-06 20:18] #174 closed

[2022-01-25 15:07] KeironO opened #198 "medcat.utils.preprocess_snomed.Snomed - FileNotFoundError"
Hi there,

Whenever I attempt to use the Snomed preprocess utility set, I have file not found errors:

[code]

Returns

[code]

Where the file is named ` sct2_Concept_UKCRSnapshot_GB1000000_20211124.txt`

Best wishes,

Keiron

[2022-01-25 20:28] antsh3k commented on #198
Dear Keiron,

Thank you for flagging to the team that the format of new UK extension releases has now changed.
I will make changes to enable the processing of the new release format and will let you know when it is done.

[2022-01-25 20:51] KeironO commented on #198
@antsh3k no worries, I can have a go at fixing it if you're snowed under?

[2022-01-25 20:57] antsh3k commented on #198
dw, I can change it. Although, If you can test and feedback that would be amazing!

The changes will be reviewed and integrated by tomorrow.

[2022-01-26 00:42] antsh3k commented on #198
The changes have been made PR #199. The following should work now:
`from medcat.utils.preprocess_snomed import Snomed`
`snomed = Snomed("C:/path/to/dir/uk_sct2cl_32.7.0_20211124000001Z/")`
`snomed.uk_ext = True` # Note: this will only work with UK extensions >2021 with the new release format. Prior UK extension releases should skip this step.
`cdf = snomed.to_concept_df()`

Let me know if there ar

[2022-01-26 07:41] KeironO commented on #198
Still having issues I'm afraid:

[code]

Returns:

[code]

[2022-01-26 20:58] #198 closed

[2022-02-16 10:58] jthteo opened #210 "Should Timestamp be a Document property not a Relationship property?"
I envisage timestamp being related to the document rather than the relationship.
It could be stored with both node and edge of course, but storing on the node would be more succint.

[medcat/neo/data_preparation.py ](https://github.com/CogStack/MedCAT/blob/master/medcat/neo/data_preparation.py)
line 80: create_documents_csv needs `timestamp: toInteger(row.timestamp), \n'` moved to
line 184: create

[2022-02-16 14:17] #210 closed

[2022-04-04 19:32] Imipenem opened #227 "Creation of CAT object fails with: Can't find model 'en_core_sci_lg'."
Hey,
I'm using `medcat==1.2.8`.

I'm trying to create a CAT object from my vocab and cdb like this:
[code]

However this results in :

[code]

Any ideas on why this is failing? I tried to install the `en_core_sci_lg` model (just downloaded it) but it cannot be installed from `spacy` directly.

Any help would be appreciated!

[2022-04-04 22:20] w-is-h commented on #227
Hi @Imipenem, the easiest way to use MedCAT would be via model-packs [here](https://medcat.readthedocs.io/en/latest/main.html#modelpacks). But if you want to use the components separately (ie cdb/vocab), you will need to install the `en_core_sci_lg` from sciSpacy:

[code]

[2022-04-05 04:30] Imipenem commented on #227
I see. Nice, thanks for your fast response 👍. Mind to shortly explain, why `en_core_sci_lg` is needed when using them separately? Just trying to understand.

[2022-04-05 09:13] w-is-h commented on #227
Modelpacks have inside of them the sciSpacy models also (and everything else needed), that is why you do not need to install anything. While when loading separately you need to install all components.

[2022-04-05 14:26] Imipenem commented on #227
Thanks for the explanation 👍

[2022-04-05 14:26] #227 closed

[2022-04-09 20:49] Imipenem opened #230 "MedCat fails to correctly detect enumerations of (negative) diagnoses"
Hey,

First of all thanks for the great package.

I'm using medcat 1.2.8 and I noticed the following issue:

**Example:**
[code]

**This results in:**
[code]

As one can see, medcat correctly gets, that there is a diabetes but no hypertension diagnosis. But the "denies" context seems to get lost/ignored in the enumeration after hypertension so psychosis and glaucoma are labeled as "affirmed" altho

[2022-04-09 23:54] w-is-h commented on #230
Hi @Imipenem, unfortunately, the public model we have for Negation (ie Status) is not the best as it was trained on a relatively small dataset. I've tested the same example on one of our in-hospital models and everything works, but we cannot make it public as it contains confidential information.

I can only suggest that you train your own model for negation using MedCATtrainer, or wait until we p

[2022-04-10 08:00] Imipenem commented on #230
Thanks for your answer, guess this is the way to go then.

I've read in the docs, that if one has access to  UMLS or SNOMEDT-CT, one could get access to the cdb and vocab for those.

Would this improve the results as well?

[2022-04-10 10:23] w-is-h commented on #230
That will improve the results with respect to NER+L, because you will have all of UMLS/SNOMED while the public NER+L models are a subset. But the Meta models (Status), will stay the same.

[2022-04-10 10:36] Imipenem commented on #230
Thanks for clarification.

[2022-04-10 10:37] #230 closed

[2022-04-25 17:21] analyticalpicasso opened #233 "Prebuild snomed model"
Hello getting below error while using prebuid models. How to resolve this?

ConfigValidationError:

Config validation error

ner -> incorrect_spans_key   extra fields not permitted

{'nlp': <spacy.lang.en.English object at 0x00000138780A7670>, 'name': 'ner', 'incorrect_spans_key': None, 'model': {'@architectures': 'spacy.TransitionBasedParser.v2', 'state_type': 'ner', 'extra_state_tokens': False,

[2022-04-25 19:00] w-is-h commented on #233
Hi @analyticalpicasso this usually happens when your version of spacy does not match the requirements, please check is `'spacy<3.1.4,>=3.1.0',` and if not install the appropriate version.

[2022-04-26 13:01] analyticalpicasso commented on #233
Worked. Thanks

[2022-04-26 13:01] #233 closed

[2022-04-27 12:22] analyticalpicasso commented on #4
Hi,

Is there a prebuild model for complete UML with ICD codes? I was able to download Snomed-CT and small UML model but couldn't find the link to download complete. Please let me know how to get it.

[2022-05-09 07:56] analyticalpicasso opened #235 "Complete UML model download"
Hello,

How to download the complete UML model. I have UML license but unable to find it.

Additionally, Is there any way that we map the synonymous information to the correct pretty name?

E.g. In term "calcaneal fracture" is it identifies it as different entities and not as one might be because it doesn't recognize the work calcaneus to calcaneus. but it maps "Heal bone fracture" correctly to ca

[2022-05-11 18:41] Imipenem opened #237 "create_model_pack creates directories recursively rather than storing model pack in the path"
Hey,

consider the following example:
[code]
This code results in having a directory named `~` inside the current working directory, which itsself contains `MyDir`, which contains `MyProjects` which contains the actual model pack named `MyModelPack`.
I expected this code to save the actual model pack in the path instead of creating this path in the cwd. I guess that's due to the line `os.makedirs(

[2022-05-12 22:39] w-is-h commented on #237
Hi @Imipenem, it should not work like that :) I did not know the makedirs does not understand `~`. Seems like we need to add `os.path.expanduser(<path>)` before calling makedirs. Feel free to submit a PR if in a hurry, otherwise someone on our side will take care of it soon.

[2022-05-13 09:33] Imipenem commented on #237
Thanks for the response. I can create a PR for this issue, but I guess it would be better to go with `pathlib` since it's handier than `os.path` to use and also included in standard lib.

[2022-05-13 11:11] w-is-h commented on #237
@Imipenem agree, that seems like a better way. Feel free to submit a PR

[2022-05-14 14:49] samjsramirez opened #238 "Exact text value"
From paper Kraljevic, Zeljko, et al. "MedCAT--medical concept annotation tool." arXiv preprint arXiv:1912.10166 (2019), "An annotation by MedCAT is considered correct only if the exact text value was found and the annotation was linked to the correct concept in the CDB."

My understand is that the exact text value would include the start and end index of prediction, but from the [cat.py](https://g

[2022-05-16 09:15] w-is-h commented on #238
Hi @samjsramirez, you are exactly right, this implementation is slightly different from the version we've used for the paper. The main reason was to avoid problems of the model not detecting a dot, comma, space, whatever 1-2 character span that is irrelevant for determining correctness but annotated during manual (gold standard) annotations. There were probably better ways to do this, but this was

[2022-05-18 07:32] #237 closed

[2022-05-23 08:04] #238 closed

[2022-06-23 18:40] zack-kimble opened #241 "Remove logging handlers from MedCAT"
The function utils.loggers.add_handlers` is used in several modules, which results in independent logging handlers when MedCAT is imported as a library.

The creation of handlers in a library is considered an anti-pattern by the `logging` maintainers: https://docs.python.org/3/howto/logging-cookbook.html#patterns-to-avoid

It creates handlers that are difficult for the end application to suppress

[2022-06-25 11:33] w-is-h commented on #241
Fixed in #242

[2022-06-25 11:33] #241 closed

[2022-08-08 17:55] plandes opened #251 "Dependencies for 3.0 with scispacy"
The 3.0 version of the code base seems to not be compatible scispacy versions 0.4.0 (uses spacy 3.0) or 0.50 (uses spacy 3.2) since MedCAT depends on spacy 3.1.  Should we use scispacy 0.5.0 and use spacy 3.2?

[2022-08-08 17:56] plandes opened #252 "Turning on spelling and abbreviations"
The MedCAT paper mentions features that provide spelling fixes and abbreviation expansion.  How do we turn these features on?

[2022-08-08 22:53] plandes opened #253 "Warning: The CDB was exported by an unknown version of MedCAT."
I'm getting a warning using the latest 3.0 release, which is:

`The CDB was exported by an unknown version of MedCAT.`

Will you please provide the most recent set of URLs to the CDB, vocabulary and MC status?

Thank you very much for writing this great software.

[2022-08-09 00:03] plandes commented on #253
Solved (for the sake of others with this issue):

You *must* use the **Available Models (requires UMLS license)** [link](https://uts.nlm.nih.gov/uts/login?service=https://medcat.rosalind.kcl.ac.uk/auth-callback).  There appears to be no model that is available to download (without creating an NIH UMLS login).

[2022-08-09 00:06] plandes commented on #253
Looks like I spoke too soon.  Now I'm getting this:

`You have MedCAT version '1.3.0' installed while the CDB was exported by MedCAT version '1.2.dev361',
which may or may not work. If you experience any compatibility issues, please reinstall MedCAT
or download the compatible model`

[2022-08-15 15:20] antsh3k commented on #252
Hi there! Thanks for your question

These features are by default turned on and can be seen in the cat.cdb.config.general

Alternatively just have a look at the config settings to see all the configurable parameters. These are specified [here.](https://github.com/CogStack/MedCAT/blob/master/medcat/config.py)

In the future, feel free to post discussion topics on the [Discourse group](https://disco

[2022-08-15 15:20] #252 closed

[2022-08-15 15:46] antsh3k commented on #253
__MedCAT demo models__
Thanks for raising this issue. I'll look into updating the demo models to a stable medcat version.

What you are receiving is a warning to say that the model has been built with a different version of the software. In your case you have installed `medcat==1.3.0` whilst the model was created with `medcat==1.2.dev361`. Although this is not an error, one should be careful when

[2022-08-15 16:15] antsh3k commented on #251
I haven't been able to replicate this. Are you trying this is google colab? If so, I believe this is a Contextual version conflict error.

Have you tried [restarting the Runtime/Kernel](https://github.com/mlco2/codecarbon/issues/112#issuecomment-773321626)? The error means that a new version of a python package has been installed that was already loaded.

I'll leave this issue open incase you are

[2022-08-15 16:19] plandes commented on #253
@antsh3k Thanks for the reply.

First regarding the other thread, sounds good--I will use the discussion board next time (thank you for clarifying).

Regarding the version, does it make sense to revert to 1.2.8?  Is there a model for 1.3?

Regarding UMLS: yes I understand I need a license (and have one).  I also understand the mapping.  However, the `cui_` field added seems to provide SNOWMED and

[2022-08-15 16:21] plandes commented on #251
@antsh3k No, this is all on the command line. I should have clarified that it doesn't cause a fatal error.  However, it is a warning.  As you mentioned in the other thread about model versions, this seems to be the case where it works.  But it's always better to sync on API and model versions.

[2022-08-15 16:42] antsh3k commented on #253
Use v1.3 and treat medcat==1.2.dev361 as equivalent for the time being. We'll announce in the discourse and news once a new set of demo models have been released.

Which `cui_` field are you referring to?
What does the concept dictionary: `cat.cdb.cui2preferred_name` show?

[2022-08-15 16:47] antsh3k commented on #251
Oh right. Ignore this warning for now I think we'll look to move away from sciSpaCy as it is not regularly maintained inline with new SpaCy releases. Stay with SpaCy.

[2022-08-15 19:00] plandes commented on #253
*kidney failure* gives the following across the two tokens:

* cui_: 64033007, 76797004
* preferred name: Kidney structure, Failure

Note that the previous version would identify *kidney failure* as one entity for the sentence *John was diagnosed with kidney failure*.

[2022-08-15 21:10] antsh3k commented on #251
Closed for now. Feel free to continue this on the [discourse group!](https://discourse.cogstack.org/) Thanks!

[2022-08-15 21:10] #251 closed

[2022-08-15 21:25] antsh3k commented on #253
So I am not sure which model you are referring to? There is only one UMLS model I am aware of: __umls_sm_wstatus_2021_oct__ . The concepts that you are mentioned above are SNOMED CT codes (cui_: 64033007, 76797004).
It seems to me that you are using a SNOMED model. If it from https://medcat.rosalind.kcl.ac.uk/ then it is a minimally trained snomed model which is for demo purposes only.

[2022-08-15 22:47] plandes commented on #253
I see, so this is a _different_ model, specifically one trained on Snowmed.  I thought this might be the case, but then I second guessed it when I could not find a 1.2 or 1.3 version model.  Is there no model yet trained using UMLS (as opposed to SNOWMED CT) IDs?

[2022-08-16 00:04] antsh3k commented on #253
Recently our main focus has been on SNOMED CT rather than UMLS. We have an old umls model _**umls_sm_wstatus_2021_oct**_ just drop us a line at contact@cogstack.org and we can send it across.

[2022-08-16 00:56] #253 closed

[2022-08-16 20:00] antsh3k commented on #235
Has this been resolved? Apologies if not. Please refer to tge readme section on where to request a [demo UMLS medcat model.](https://uts.nlm.nih.gov/uts/login?service=https://medcat.rosalind.kcl.ac.uk/auth-callback)

If there are any issues, please contact [contack@cogstack.org](contack@cogstack.org) for any model requests. Thanks!

[2022-08-16 20:00] #235 closed

[2022-08-30 15:38] louni-g opened #256 "Upgrade spacy dependency"
Hi! Is there a specific reason why the spacy version used by MedCAT is pinned to `<3.1.4` ? We use MedCAT and find ourselves a bit stuck because of this requirement, do you plan on releasing a version of MedCAT that works with higher versions of spacy any time soon ?

[2022-08-30 21:25] w-is-h commented on #256
Hi @louni-g, it should not matter if you upgrade spacy - all will work normally, even if PIP complains about version requirements. The reason for freezing the versions is that we distribute modelpacks that contain spacy models inside, and spacy does not have the best backward compatibility - so if we allow newer spacy versions older modelpacks could stop working. We are working on a solution and i

[2022-10-03 22:05] plandes commented on #256
When you add MedCat as dependency with a difference version of spaCy as provided in MedCat pip has issues.  Even in legacy mode, it won't install the package that depends on MedCat and spaCy complaining about version conflicts.

My workaround until a new version is released is simply to remove the spaCy dependency in the `setup.py` and specify the version I need in the top level package that depen